/* .SlidBar{
    margin-top:-0.9rem ;
    padding-top: 2rem;
    padding-left: 1rem;
    height: 94vh;
    background-color:#f2f2f2;
} */
/*
.sub-menu-link-2{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #120202;
    margin: 12px 0;
}

.sub-menu-link-2 p{
    font-weight: 300px;
    width: 100%;
    text-align: start;
}
.sub-menu-link-2 img{
    width: 40px;
    background: #e5e5e5;
    padding: 8px;
    margin-right: 15px;
    border-radius: 50%;
}
.sub-menu-link-2 span img{
    width: 40px;
    background: #fff;
    padding: 8px;
    margin-right: 15px;
    border-radius: 50%;
    transition: transform 0.5s;
}
.sub-menu-link-2:hover img{
    transform: translateX(5px);

}
.sub-menu-link-2:hover span{
    transform: translateX(5px);
}

.sub-menu-link-2:hover p{
    width: 100%;
    transform: translateX(5px);
}
*/
.InfoUserHome{
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 24px;
    background-color: #fff;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.InfoUserHome h6{
    color: #CCD1D1;
}
.InfoUserHome .Followers{
    color: #5DADE2;
}
