.post-form {
    background: #fff;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.post-form-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 1rem;
}

.imgInfoUserPost img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.InfoUserPost {
    margin-left: 10px;
    font-weight: 500;
    color: #1c1e21;
    margin-top: 0.8rem;
}

.post-form__textarea, .post-form__input {
    width: 100%;
    border: 1px solid #ccd0d5;
    border-radius: 16px;
    padding: 12px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    resize: none;
}

.image-preview {
    margin-bottom: 10px;
}

.displayImgPost {
    width: 100%;
    height: auto;
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    border: 2px solid #2eaff0;
}

.Uplode_Image {
    display: none;
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.UploadButton {
    background-color: #f5f6f7;
    color: #4b4f56;
    border: 1px solid #ccd0d5;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

.UploadButton:hover {
    background-color: #ebedf0;
}

.UploadButtonLabel {
    margin-left: 8px;
    font-size: 16px;
}

.post-form__button_Post, .post-form__button_Jobs {
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
    margin: 0.5rem;
}

.post-form__button_Post:hover, .post-form__button_Jobs:hover {
    background-color: #165cdb;
}

.TextAreaFiled:focus {
    outline: none;
    /* Remove default focus outline */
}

.profilePictureHome {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 2px solid #2eaff0;
}

.btnApplyJob {
    margin-top: 2rem;
    background-color: #3498DB;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btnApplyJob:hover {
    background-color: #2980B9;
    transform: scale(1.05);
}

.btnApplyJob:active {
    background-color: #1F618D;
    transform: scale(1);
}

.btnApplyJob:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
}

.post-list {
    max-width: 600px;
}

.post {
    background-color: #fff;
    border: 1px solid #847f7f9a;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post__image {
    width: 250px;
    height: auto;
    margin-top: 10px;
}
