* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  .cont_principal {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(-87deg, #F2F5F6 0%, #DDE5E8 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cont_centrar {
    position: relative;
    width: 320px;
    background-image: linear-gradient(-226deg, #FFFFFF 8%, #EEF3F5 100%);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.21);
    transition: all 0.5s;
    overflow: hidden;
  }
  
  .cont_login {
    text-align: center;
  }
  
  .cont_tabs_login {
    margin-bottom: 20px;
  }
  
  .ul_tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    
  }
  
  .ul_tabs li {
    width: 30%;
    
  }
  
  .ul_tabs li a {
    text-decoration: none;
    color: #999;
    font-size: 18px;
    display: block;
    padding: 10px 0;
    transition: color 0.3s;
  }
  
  .ul_tabs li.active a {
    color: #3b3f40;
  }
  
  .linea_bajo_nom {
    display: block;
    height: 2px;
    background: #3b3f40;
    width: 0;
    transition: width 0.3s;
  }
  
  .ul_tabs li.active .linea_bajo_nom {
    width: 100%;
  }
  
  .cont_text_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input_form_sign {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #B0BEC5;
    border-radius: 4px;
    outline: none;
    transition: opacity 0.5s, transform 0.5s;
    opacity: 0;
    transform: translateX(-300px);
  }
  
  .input_form_sign.active_inp {
    opacity: 1;
    transform: translateX(0);
  }
  
  .link_forgot_pass {
    margin-top: 10px;
    text-decoration: none;
    color: #999;
    font-size: 13px;
    transition: opacity 0.5s, transform 0.5s;
    opacity: 0;
    transform: translateX(-300px);
  }
  
  .link_forgot_pass.d_block {
    opacity: 1;
    transform: translateX(0);
  }
  
  .cont_btn {
    margin-top: 20px;
  }
  
  .btn_sign {
    background-color: #3b3f40;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn_sign:hover {
    background-color: #3b3f40;
  }
  


/* Add your custom styles here */
.bg-light {
    background-color: #f8f9fa !important;
}

.card {
    border-radius: 0.5rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.object-fit-cover {
    object-fit: cover;
}

.btn-dark {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:hover {
    background-color: #23272b;
    border-color: #1d2124;
}
